* {
    margin: 0;
    padding: 0;
}

body {
    background: #60b2ff;
}

.main-screen {
    width: 100%;
    height: 130vh;
    position: relative;
    background: radial-gradient(153.06% 141.42% at 100% 0,#0028b6 0,#60b2ff 100%);
}

.main-screen::after {
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    z-index: 999;
    background: red;
    position: absolute;
}

.atom-position {
    top: 0;
    right: 0;
    width: 100%;
    max-width: 800px;
    position: fixed;
    aspect-ratio: 1/0.8;
}

.atom-container {
    width: 70%;
    max-width: 600px;
    aspect-ratio: 1/1;
    position: relative;
    margin-left: 1em;
    margin-top: 3em;
    animation: rotate 8s linear infinite;
}

.large-atom {
    top: -30%;
    right: -20%;
    width: 100%;
    max-width: 1300px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.small-atom {
    top: 20%;
    right: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.atom-container .atom {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    border: .649px solid #dfb443;
}

.atom-container .atom::before,
.atom-container .atom::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: -12px;
    position: absolute;
    border: 2px solid #dfb443;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.atom-container .atom::after {
    top: -11px;
    left: 50%;
    background: white;
    border-color: white;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.atom-container .atom .atom-image {
    bottom: -21px;
    left: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url(./assets/icons/ball.png) no-repeat center center;
    background-size: cover;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Main screen -> main content section */

.main-content {
    color: #fff;
    padding: 4em;
    margin-top: 10em;
    width: fit-content;
    border-radius: 25px;
    height: max-content;
    position: absolute;
}

.main-content::before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 16px;
    background: rgba(0,26,163,.15);
    box-shadow: inset 0 4px 4px 0 hsla(0,0%,100%,.25);
}

.main-content h1 {
    font-size: 4em;
    margin-bottom: 1em;
}

.main-content .sub-text div {
    font-size: 1.5em;
    margin: 1em 0;
}

.animated-button {
    width: 90%;
    border: none;
    outline: none;
    padding: 1em 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    max-width: 400px;
    border-radius: 25px;
    margin-top: 2em;
    background: rgb(255, 255, 255, 15%);
}